.header {
  padding: 20px 0;
  width: 100%;
  background: $blue;
  @include center;
  nav {
    width: 45%;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  &__link {
    font-family: Poppins;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
  }
}
