.welcome {
  position: relative;
  &__content {
    height: 400px;
    width: 40%;
    margin-top: 350px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 82px;
    line-height: 90px;
    color: $blue;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 41px;
    color: black;
  }
  &__button {
    @include center;
    width: 500px;
    height: 70px;
    background: $blue;
    border-radius: 3px;
    box-shadow: $shadowBlue;
    font-weight: 500;
    font-size: 31px;
    transition: background 0.3s, color 0.3s;
    color: white;
    &:hover {
      background: $darkWhite;
      border: 2px solid $blue;
      color: $blue;
    }
  }
}
