@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a {
  color: black;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  padding: 20px 0;
  width: 100%;
  background: #00649c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header nav {
  width: 45%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.header__link {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.header__burger {
  display: none;
}

@media (max-width: 1800px) {
  .header nav {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .header nav {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 25px;
    background: #003757;
  }
  .header .active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .header__list {
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__burger {
    z-index: 5;
    position: absolute;
    right: 30px;
    top: 10px;
    width: 30px;
    height: 18px;
    display: block;
    cursor: pointer;
  }
  .header__burger::before, .header__burger::after,
.header__burger span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: white;
  }
  .header__burger::before {
    content: "";
    top: 0;
  }
  .header__burger::after {
    content: "";
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .burger__active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .burger__active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger__active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.welcome {
  position: relative;
}
.welcome__content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.welcome__items {
  margin-top: 17%;
  margin-bottom: 12%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}
.welcome__title {
  margin-bottom: 25px;
  font-weight: bold;
  color: #00649c;
}
@media (max-width: 767px) {
  .welcome__title {
    font-size: calc(45px + 68 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .welcome__title {
    font-size: calc(45px + 40 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .welcome__title {
    line-height: calc(60px + 68 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .welcome__title {
    line-height: calc(60px + 40 * (100vw / 1920));
  }
}
.welcome__subtitle {
  font-weight: 500;
  color: black;
}
@media (max-width: 767px) {
  .welcome__subtitle {
    font-size: calc(24px + 28.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .welcome__subtitle {
    font-size: calc(24px + 17 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .welcome__subtitle {
    line-height: calc(40px + 42.5 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .welcome__subtitle {
    line-height: calc(40px + 25 * (100vw / 1920));
  }
}
.welcome__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 70px;
  background: #00649c;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 100, 156, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 100, 156, 0.3);
  font-weight: 500;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  color: white;
}
@media (max-width: 767px) {
  .welcome__button {
    font-size: calc(24px + 11.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .welcome__button {
    font-size: calc(24px + 7 * (100vw / 1920));
  }
}
.welcome__button:hover {
  background: #f7f7f7;
  border: 2px solid #00649c;
  color: #00649c;
}
.welcome__avatar {
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .welcome__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .welcome__content {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .welcome__text {
    gap: 5px;
  }
  .welcome__content {
    gap: 10px;
  }
  .welcome__button {
    width: 90%;
  }
  .welcome__avatar {
    height: 250px;
    width: 250px;
  }
}
.information__text {
  margin-left: 4%;
  font-style: italic;
  line-height: 44px;
}
@media (max-width: 767px) {
  .information__text {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .information__text {
    font-size: calc(18px + 7 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .information__text {
    line-height: calc(23px + 20.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .information__text {
    line-height: calc(23px + 12 * (100vw / 1920));
  }
}
.information__quotes {
  font-weight: 900;
  font-size: 37px;
  line-height: 56px;
  color: #00649c;
}

.skills {
  position: relative;
}
.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__list {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__icon {
  z-index: -1;
  position: absolute;
  right: -400px;
  top: 100px;
  width: 600px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transform: rotate(-11.66deg);
          transform: rotate(-11.66deg);
}
.skills .example {
  width: 60%;
}
.skills .example__bar {
  width: 100%;
  height: 60px;
  background: grey;
}
.skills .example pre {
  height: 500px;
}
.skills .example__code {
  overflow-y: hidden;
  height: 100%;
  padding: 2%;
  background: black;
  color: white;
}
@media (max-width: 767px) {
  .skills .example__code {
    font-size: calc(10px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .skills .example__code {
    font-size: calc(10px + 14 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .skills .example__code {
    line-height: calc(15px + 51 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .skills .example__code {
    line-height: calc(15px + 30 * (100vw / 1920));
  }
}

.skills-anim-open {
  -webkit-animation: codeExampleOpen 0.3s forwards;
          animation: codeExampleOpen 0.3s forwards;
}

.skills-anim-close {
  -webkit-animation: codeExampleClose 0.3s forwards;
          animation: codeExampleClose 0.3s forwards;
}

@-webkit-keyframes codeExampleOpen {
  0% {
    padding: 0 0 0 2%;
    height: 0;
  }
  100% {
    padding: 10px 0 25px 2%;
    height: 100%;
  }
}

@keyframes codeExampleOpen {
  0% {
    padding: 0 0 0 2%;
    height: 0;
  }
  100% {
    padding: 10px 0 25px 2%;
    height: 100%;
  }
}
@-webkit-keyframes codeExampleClose {
  0% {
    padding: 10px 0 25px 2%;
    height: 100%;
  }
  100% {
    padding: 0 0 0 2%;
    height: 0;
  }
}
@keyframes codeExampleClose {
  0% {
    padding: 10px 0 25px 2%;
    height: 100%;
  }
  100% {
    padding: 0 0 0 2%;
    height: 0;
  }
}
@media screen and (max-width: 1200px) {
  .skills__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .skills__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    height: auto;
  }
  .skills .example {
    width: 100%;
  }
  .skills .example pre {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .skills .example pre {
    height: 200px;
  }
  .skills .example__bar {
    height: 35px;
  }
}
.projects__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects__link {
  width: 100%;
}
.projects__image {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  cursor: pointer;
}
.projects__image:hover {
  -webkit-box-shadow: inset 0px 0px 100px 3px #00649c;
          box-shadow: inset 0px 0px 100px 3px #00649c;
}
.projects__image__body {
  margin-top: 50px;
  width: 100%;
  height: 700px;
}

.projects-anim-open {
  -webkit-animation: projectsOpen 0.3s forwards;
          animation: projectsOpen 0.3s forwards;
}

.projects-anim-close {
  -webkit-animation: projectsClose 0.3s forwards;
          animation: projectsClose 0.3s forwards;
}

@-webkit-keyframes projectsOpen {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes projectsOpen {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes projectsClose {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes projectsClose {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@media screen and (max-width: 1000px) {
  .projects__image__body {
    height: 450px;
  }
}
.footer {
  padding: 25px 0;
  width: 100%;
  background: #00649c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__body {
  width: 45%;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer nav {
  width: 65%;
}
.footer__nav {
  width: 100%;
}
.footer__link {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.footer__info {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__info__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer time {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.footer__icon {
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.footer__icon:hover {
  opacity: 0.95;
}
.footer__icon:active {
  opacity: 0.85;
}
.footer .rsschool {
  width: 100px;
  height: 50px;
  background: url("../assets/footer/rsschool.svg") no-repeat;
  background-size: 100px;
}
.footer .gmail {
  background: url("../assets/footer/gmail.png") no-repeat;
  background-size: 50px;
}
.footer .discord {
  background: url("../assets/footer/discord.png") no-repeat;
  background-size: 50px;
}
.footer .github {
  background: url("../assets/footer/github.png") no-repeat;
  background-size: 50px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .footer__body {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  .footer__body {
    width: 65%;
  }
  .footer nav {
    width: 40%;
  }
  .footer__info {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
  .footer__body {
    width: 65%;
  }
  .footer nav {
    width: 40%;
  }
  .footer__info {
    gap: 15px;
    width: 100%;
  }
}
body {
  overflow-x: hidden;
  min-width: 320px;
  background: #f7f7f7;
  font-family: Poppins;
}

body.lock {
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main section {
  width: 80%;
  margin-bottom: 150px;
}
main h2 {
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  line-height: 105px;
}
main h3 {
  display: inline;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media (max-width: 767px) {
  main h3 {
    font-size: calc(18px + 37.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  main h3 {
    font-size: calc(18px + 22 * (100vw / 1920));
  }
}
main h3:hover {
  font-weight: bold;
  color: #00649c;
}

@media screen and (max-width: 1000px) {
  main section {
    width: 90%;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  main section {
    margin-bottom: 70px;
  }
}