@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a {
  color: black;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  padding: 20px 0;
  width: 100%;
  background: #00649c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header nav {
  width: 45%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.header__link {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .header {
    background: #000;
  }
  .header nav {
    width: 60%;
  }
}
.welcome {
  position: relative;
}
.welcome__content {
  height: 400px;
  width: 40%;
  margin-top: 350px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 82px;
  line-height: 90px;
  color: #00649c;
}
.welcome__subtitle {
  font-weight: 500;
  font-size: 41px;
  color: black;
}
.welcome__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 70px;
  background: #00649c;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 100, 156, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 100, 156, 0.3);
  font-weight: 500;
  font-size: 31px;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  color: white;
}
.welcome__button:hover {
  background: #f7f7f7;
  border: 2px solid #00649c;
  color: #00649c;
}

.information__text {
  margin-left: 100px;
  font-style: italic;
  font-size: 25px;
  line-height: 44px;
}
.information__quotes {
  font-weight: 900;
  font-size: 37px;
  line-height: 56px;
  color: #00649c;
}

.skills {
  position: relative;
  height: 550px;
  margin-bottom: 300px;
}
.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__list {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__icon {
  z-index: -1;
  position: absolute;
  right: -400px;
  top: 100px;
  width: 600px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transform: rotate(-11.66deg);
          transform: rotate(-11.66deg);
}
.skills .example {
  width: 60%;
}
.skills .example__bar {
  width: 100%;
  height: 60px;
  background: grey;
}
.skills .example pre {
  height: 470px;
}
.skills .example__code {
  overflow-y: hidden;
  height: 100%;
  padding: 0;
  background: black;
  color: white;
}
@media (max-width: 767px) {
  .skills .example__code {
    font-size: calc(8px + 27.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .skills .example__code {
    font-size: calc(8px + 16 * (100vw / 1920));
  }
}

.skills-anim-open {
  -webkit-animation: codeExampleOpen 0.3s forwards;
          animation: codeExampleOpen 0.3s forwards;
}

.skills-anim-close {
  -webkit-animation: codeExampleClose 0.3s forwards;
          animation: codeExampleClose 0.3s forwards;
}

@-webkit-keyframes codeExampleOpen {
  0% {
    padding: 0 0 0 25px;
    height: 0;
  }
  100% {
    padding: 10px 0 25px 25px;
    height: 100%;
  }
}

@keyframes codeExampleOpen {
  0% {
    padding: 0 0 0 25px;
    height: 0;
  }
  100% {
    padding: 10px 0 25px 25px;
    height: 100%;
  }
}
@-webkit-keyframes codeExampleClose {
  0% {
    padding: 10px 0 25px 25px;
    height: 100%;
  }
  100% {
    padding: 0 0 0 25px;
    height: 0;
  }
}
@keyframes codeExampleClose {
  0% {
    padding: 10px 0 25px 25px;
    height: 100%;
  }
  100% {
    padding: 0 0 0 25px;
    height: 0;
  }
}
.projects__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects__list h3 {
  font-size: 40px;
}
.projects__link {
  width: 100%;
}
.projects__image {
  height: 100%;
  display: block;
  background-position: center center;
  background-size: 100% 100%;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  cursor: pointer;
}
.projects__image:hover {
  -webkit-box-shadow: inset 0px 0px 100px 3px #00649C;
          box-shadow: inset 0px 0px 100px 3px #00649C;
}
.projects__image__body {
  margin-top: 50px;
  width: 100%;
  height: 700px;
}

.projects-anim-open {
  -webkit-animation: projectsOpen 1s forwards;
          animation: projectsOpen 1s forwards;
}

.projects-anim-close {
  -webkit-animation: projectsClose 0.3s forwards;
          animation: projectsClose 0.3s forwards;
}

@-webkit-keyframes projectsOpen {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes projectsOpen {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes projectsClose {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes projectsClose {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.footer {
  padding: 25px 0;
  width: 100%;
  background: #00649c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__body {
  width: 45%;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer nav {
  width: 65%;
}
.footer__nav {
  width: 100%;
}
.footer__link {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.footer__info {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__info__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer time {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}
.footer__icon {
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__icon:hover {
  opacity: 0.95;
}
.footer__icon:active {
  opacity: 0.85;
}
.footer .rsschool {
  width: 100px;
  height: 50px;
  background: url("../assets/footer/rsschool.svg") no-repeat;
  background-size: 100px;
}
.footer .gmail {
  background: url("../assets/footer/gmail.png") no-repeat;
  background-size: 50px;
}
.footer .discord {
  background: url("../assets/footer/discord.png") no-repeat;
  background-size: 50px;
}
.footer .github {
  background: url("../assets/footer/github.png") no-repeat;
  background-size: 50px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  background: #f7f7f7;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main section {
  width: 80%;
  margin-bottom: 150px;
}
main h2 {
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  line-height: 105px;
}
main h3 {
  display: inline;
  font-weight: 500;
  font-size: 45px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
main h3:hover {
  font-weight: bold;
  color: #00649c;
}