$blue: #00649c;
$shadowBlue: 0px 4px 4px rgba(0, 100, 156, 0.3);
$darkWhite: #f7f7f7;
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "nullstyle.scss";
@import "../js/header/header.scss";
@import "welcome/welcome.scss";
@import "information/information.scss";
@import "../js/skills/skills.scss";
@import "../js/projects/projects.scss";
@import "footer/footer.scss";
body {
  overflow-x: hidden;
  background: $darkWhite;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    width: 80%;
    margin-bottom: 300px;
  }
  h2 {
    margin-bottom: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    line-height: 105px;
  }
  h3 {
    display: inline;
    font-weight: 500;
    font-size: 45px;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      font-weight: bold;
      color: $blue;
    }
  }
}
