$blue: #00649c;
$shadowBlue: 0px 4px 4px rgba(0, 100, 156, 0.3);
$darkWhite: #f7f7f7;
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$maxWidth: 1920;
@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
@mixin adaptive-line-height($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    line-height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    line-height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "nullstyle.scss";
@import "../js/header/header.scss";
@import "welcome/welcome.scss";
@import "information/information.scss";
@import "../js/skills/skills.scss";
@import "../js/projects/projects.scss";
@import "footer/footer.scss";
body {
  overflow-x: hidden;
  min-width: 320px;
  background: $darkWhite;
  font-family: Poppins;
}
body.lock {
  overflow-y: hidden;
}
html {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    width: 80%;
    margin-bottom: 150px;
  }
  h2 {
    margin-bottom: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    line-height: 105px;
  }
  h3 {
    display: inline;
    font-weight: 500;
    @include adaptive-font(40, 18); 
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      font-weight: bold;
      color: $blue;
    }
  }
}
@media screen and (max-width: 1000px){
  main{
    section{
      width: 90%;
      margin-bottom: 100px;
    }
  }  
}
@media screen and (max-width: 600px){
  main{
    section{
      margin-bottom: 70px;
    }
  }  
}